.template {
    margin: 0;
    padding: 0;
}
.template .header {
    display: flex;
    justify-content: center;
}
.template .header h2 {
    font-size: 2rem;
}
.template .mainbody {
    margin: 1.2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

/*----------- Fazlami korte asci---------*/

.template .mainbody .input-area form input {
    height: 3rem;
    width: 25rem;
    padding: 0rem;
    margin-bottom: 15px;
}
